* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

h1,
h2,
h3 {
  color: rgb(54, 54, 54);
}

body {
  // font-family: 'Inter', sans-serif;
  // font-family: 'JetBrains Mono', monospace;
  font-family: "Lato", sans-serif;
  // font-family: 'Montserrat', sans-serif;
  // font-family: 'Nunito', sans-serif;
  // font-family: 'Poppins', sans-serif;
  // font-family: 'Roboto', sans-serif;
  // font-family: 'Rubik', sans-serif;
  // font-family: 'Space Grotesk', sans-serif;
  // font-family: 'Space Mono', monospace;
  // font-family: 'Trispace', sans-serif;
  // font-family: 'Work Sans', sans-serif;
}
h3,
h4 {
  font-family: 400;
  color: rgb(100, 100, 100);
}

.App {
  transition: all 0.5s ease;
}
.library-active {
  margin-left: 30%;
}
